{% extends "admin/base.html" %}
{% set active_page = 'admin-users' -%}

{% block maincontent %}
<div class="row">

    <form method="POST" class="form col-sm-12 col-md-8 col-lg-4">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
              {% for e in form.errors %}
              <p>Validation failed for: {{e}}</p>
              {% endfor %}
        </div>
        {% endif %}

        <h1>{{ 'Add user' if not form.email.data else 'Edit user' }}</h1>

        <fieldset class="form-group">
            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='user@example.org') }}
        </fieldset>

        <fieldset class="form-group">
            {{ form.role.label }}
            {{ form.role(class='form-control c-select') }}
        </fieldset>

        {% if not form.email.data %}
        <fieldset class="form-group">
            {{ form.send_welcome_email() }}
            {{ form.send_welcome_email.label }}
        </fieldset>
        {% endif %}

        <button class="btn btn-success">Save</button>

        {% if admin_user %}
        <a href="{{ uri_for('admin-user-delete', user_id=admin_user.key.id()) }}"
           class="btn btn-danger">Delete...</a>
        {% endif %}
    </form>
</div>

{% endblock %}
