{% extends "admin/base.html" %}
{% block maincontent %}
<pre>
                        `://.                       
                      `+AAAAAo.                     
                    `+AAAAAAAAAo.                   
                  `+AAAAAAAAAAAAAo.                 
                `+AAAAAAAAAAAAAAAAAo.               
              `+AAAAAAAAAAAAAAAAAAAAAo.             
            `+AAAAAAAAAs/sAAAAAAAAAAAAAo.           
          `+AAAAAAAAAA+`  -oAAAAAAAAAAAAAo.         
        `+AAAAAAAAAAA+      .+AAAAAAAAAAAAAo.       
      `+AAAAAAAAAAAA/         .+AAAAAAAAAAAAAo.     
    `+AAAAAAAAAAAAA/            .+AAAAAAAAAAAAAo.   
   +AAAAAAAAAAAAAA/               -sAAAAAAAAAAAAAo` 
  .AAAAAAAAAAAAAA+                 `+AAAAAAAAAAAAA/ 
   /AAAAAAAAAAAAs`       `-/+agigen:`:AAAAAAAAAAAo` 
    `/AAAAAAAAAA.    .:+AAAAAAAAAAAAA+/AAAAAAAAo.   
      `/AAAAAAAo.-/oAAAAAAAAAAAAAAAAAAAAAAAAAo.     
        `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.       
          `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.         
            `/AAAAAAAAAAAAAAAAAAAAAAAAAo.           
              `+AAAAAAAAAAAAAAAAAAAAAo.             
                `+AAAAAAAAAAAAAAAAAo.               
                  `+AAAAAAAAAAAAAo.                 
                    `+AAAAAAAAAo.                   
                      `+AAAAAo.                     
                        `-::`
  
  

</pre>

<h1>This application will be<br>really awesome really soon</h1>
{% endblock %}