{% extends "admin/base-sidebar.html" %}
{% set active_page = 'sidebar' -%}
{% block maincontent %}
<h1>I have a sidebar</h1>
<pre>
              {}
             .--.
            /.--.\
            |====|
            |`::`|
        .-;`\..../`;_.-^-._
 /\\   /  |...::..|`   :   `|
 |:'\ |   /'''::''|   .:.   |
@|\ /\;-,/\   ::  |..:::::..|
`||\ &lt;` >  >._::_.| ':::::' |
 || `""`  /   ^^  |   ':'   |
 ||       |       \    :    /
 ||       |        \   :   / 
 ||       |___/\___|`-.:.-`
 ||        \_ || _/    `
 ||        &lt;_ >&lt; _>
 ||        |  ||  |
 ||        |  ||  |
 ||       _\.:||:./_
 \/      /____/\____\
</pre>
{% endblock maincontent %}
